body {
  background-color: #f0f0f0;
}

.area {
  margin-bottom: 8px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 240px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn {
  padding: 6px 20px;
  background-color: rgb(61, 238, 61);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  color: red;
}
